{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>

    nav a {
        color: #000; /* dark font */
        font-weight: bold; /* bold text */
    }
    .container {
        width: 80%; /* Set width to 100% of its parent container */
        max-width: 65%; /* Limit maximum width to 800px */
        margin: 1% auto;
        padding: 20px; /* Add some padding for spacing */
        box-sizing: border-box; /* Include padding and border in total width */
  }

    .article {
        position: relative;
        width: 100%;
        background-color: white;
        /* light grey */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* horizontal offset, vertical offset, blur radius, color */
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 20px; /* space between articles */
    }

    .article-title {
        font-size: 1.5em;
        overflow-wrap: break-word; /* break words that are too long to fit */
    }

    .article-content {
        font-size: 1em;
    }

    .article-image {
        width: 100%;
        height: auto;
    }

    .published-date {
        font-size: 0.8em; /* small font size */
        position: absolute; /* position relative to the article div */
        bottom: 10px; /* position at the bottom right corner */
        right: 10px;
    }

</style>
<div class="container">
    {% for article in articles %}
    <a href="{% url 'article-detail' article.id %}" style="text-decoration: none; color: inherit;">
        <div class="article">
            <div class="article-title">
                <h2>{{ article.title }}</h2>
            </div>
            <div class="article-content">
                <img src="{{ article.image.url }}" alt="{{ article.title }}" class="article-image">
                <p>{{ article.short_description }}</p>
            </div>
            <div class="published-date">
                Published on: {{ article.created|date:"F j, Y" }}
            </div>
        </div>
    </a>
    {% empty %}
    <div class="no-items">
        No items to display.
    </div>
    {% endfor %}
</div>
{% endblock %}