{% extends 'base.html' %}

{% block content %}

<style>
    body {
        background: #add8e6;
    }

    .article {
        width: 100%;
        background-color: #f0f0f0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 30px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .article-image {
        max-width: 100%; /* restrict max width to 60% of the screen */
        height: auto; /* maintain aspect ratio */
        border-radius: 10px; /* round the edges */
    }
    .image-container {
        display: flex; /* use Flexbox */
        justify-content: center; /* center horizontally */
        align-items: center; /* center vertically */
    }
</style>

<div class="container">
    <div class="article">
        <div class="image-container">
            <img src="{{ article.get_image_url }}" alt="{{ article.title }}" class="article-image">
        </div>
        <div class="article-content">
            <h2>{{ article.title }}</h2>
            {{ article.body|safe }}
        </div>
    </div>
</div>

{% endblock %}