{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    nav a {
        color: #000;
        /* dark font */
        font-weight: bold;
        /* bold text */
    }

    .container {
        display: flex;
    }


    .left {
        flex: 0 0 80%;
        padding: 10px;
    }

    .right {
        flex: 0 0 20%;
        padding: 20px;
    }

    .article {
        position: relative;
        width: 100%;
        background-color: white;
        /* light grey */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* horizontal offset, vertical offset, blur radius, color */
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        /* space between articles */
    }

    .article_name_list {
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        font: 1em sans-serif;
    }

    .article-title {
        font-size: 1.5em;
        overflow-wrap: break-word;
        /* break words that are too long to fit */
    }

    .article-content {
        font-size: 1em;
    }

    .article-image {
        width: 100%;
        height: auto;
    }

    .published-date {
        font-size: 0.8em;
        /* small font size */
        position: absolute;
        /* position relative to the article div */
        bottom: 10px;
        /* position at the bottom right corner */
        right: 10px;
    }

    @media screen and (max-width: 600px) {
        .container {
            flex-direction: column;
            /* Stack divs vertically on small screens */
        }

        .left,
        .right {
            flex: none;
            /* Remove flex to allow content to dictate width */
            width: 100%;
            /* Make divs take up full width */
        }
    }
</style>
<div class="container">
    <div class="left">
        {% for article in articles %}
        <a href="{% url 'article-detail' article.id %}" style="text-decoration: none; color: inherit;">
            <div class="article">
                <div class="article-title">
                    <h2>{{ article.title }}</h2>
                </div>
                <div class="article-content">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="article-image">
                    <p>{{ article.short_description }}</p>
                </div>
                <div class="published-date">
                    Published on: {{ article.created|date:"F j, Y" }}
                </div>
            </div>
        </a>
        {% empty %}
        <div class="no-items">
            No items to display.
        </div>
        {% endfor %}

        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    <div class="right">
        <p>
        <h3>
            Older Posts:
        </h3>
        </p>
        {% for article in all_articles %}
        <a href="{% url 'article-detail' article.id %}" style="text-decoration: none; color: inherit;">
            <div class="article_name_list">
                {{ article.title }}
            </div>
        </a>
        {% empty %}
        <div class="no-items">
            No items to display.
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}