{% extends 'base.html' %}

{% load static %}
{% block content %}
    <main style="text-align: center; font-family: Arial, sans-serif;">
        <h1>Contact Details</h1>
        <p>Welcome to our contact page.</p>
        <div style="padding-bottom: 20px;">
            <img src="{{ 'media/Cat03.jpg' }}" alt="Website Creator" style="width: 30%; display: block; margin: 0 auto;"/>
        </div>
        <section>
            <h2>Email</h2>
            <p>inforohitindian@gmail.com</p>
        </section>
    
{% endblock %}