{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
    .insta {
        position: relative;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;

    }
</style>
<div class='insta'>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-d4d356dc-642d-415a-b44c-53f79f8d0556" data-elfsight-app-lazy></div>
</div>
{% endblock %}